html:not(.no-js) [data-aos=fade-right] {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
}

html:not(.no-js) [data-aos=fade-left] {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gabriola';
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg)
}

.invert {
    filter: invert(1) hue-rotate(180deg)
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(#ccffff, #1affff);
}

.main-all {
    overflow: hidden;
    transition: .3s linear;
}

.header .row {
    align-items: center;
}

.header .header-item .icon-bars {
    display: none;
}

.header .header-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-item .link>a>i {
    font-size: 1.25rem;
    padding: 0 12px;
    opacity: .6;
    transition: .3s linear;
    color: var(--bs-dark);
}

.header .header-item .link>a:hover i {
    transform: scale(1.2);
    opacity: 1;
    color: #ff4d4d;
}

.header .header-item img {
    width: 120px;
    height: auto;
    border-radius: 100%;
}

.header .header-item .search-location {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    cursor: pointer;
}

.header .header-item .search-location i {
    padding: 16px;
    background-color: #78c7d2;
    border-radius: 40px;
    color: var(--bs-white);
    margin-right: 16px;
}

.search-location .description p {
    margin: 0;
    padding-right: 12px;
}

.darkmode-btn {
    position: relative;
}

.darkmode-btn .checkbox {
    display: none;
}

.darkmode-btn .checkbox:checked~.label .cs {
    transform: translateX(28px);
}

.darkmode-btn .label {
    position: relative;
    background-color: var(--bs-dark);
    padding: 4px 10px;
    border-radius: 20px;
    margin-left: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 24px 0px rgba(117, 97, 97, 0.75);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(117, 97, 97, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(117, 97, 97, 0.75);
}

.darkmode-btn .label i {
    font-size: 1.2rem;
}

.darkmode-btn .label .cl-moon {
    color: #f2f2f2;
}

.darkmode-btn .label .cl-sun {
    color: #e6e600;
}

.darkmode-btn .label .cs {
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: 26px;
    left: 4px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--bs-white);
    transition: .3s ease;
}

.navigation-pc {
    background-color: var(--bs-dark);
    box-shadow: 0px 5px 14px 0px rgba(96, 86, 86, 0.75);
    -webkit-box-shadow: 0px 5px 14px 0px rgba(96, 86, 86, 0.75);
    -moz-box-shadow: 0px 5px 14px 0px rgba(96, 86, 86, 0.75);
}

.navigation-pc.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    animation: fadeInDown .3s linear;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.navigation-pc ul {
    text-align: center;
}

.navigation-pc .nav-item {
    display: inline-block;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    top: 2px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
    line-height: 60px;
    letter-spacing: 2px;
}

.home.active,
.nav-item.active {
    background-color: #78c7d2;
}

.navigation-pc .nav-item a {
    display: inline-block;
    padding: 0 54px;
    position: relative;
    z-index: 1;
    transition: .3s linear;
    color: var(--bs-white);
}

.navigation-pc .nav-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(25%) rotate(45deg);
    transform: translateX(-98%) translateY(25%) rotate(45deg);
}

.navigation-pc .nav-item:hover::after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.navigation-mb {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #78c7d2;
    z-index: 100;
    text-align: center;
    padding: 30px 12px;
    transform: translateX(-101%);
    transition: .3s linear;
}

.navigation-mb.active {
    transform: translateX(0%);
}

.navigation-mb .icon-times {
    position: absolute;
    top: 8px;
    right: 20px;
    color: var(--bs-dark);
    font-size: 2rem;
    transition: .3s linear;
    cursor: pointer;
}

.navigation-mb .icon-times:hover {
    transform: scale(1.2);
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .3s linear;
    animation: opacity .3s linear;
    cursor: pointer;
}

.form-covid {
    visibility: hidden;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 500px;
    padding: 30px;
    background-image: linear-gradient(#00B4DB, #0083B0);
    color: #f2f2f2;
    border-radius: 8px;
    opacity: 0;
    transition: .3s linear;
}

.form-covid.active {
    visibility: visible;
    opacity: 1;
}

.form-covid p {
    padding: 8px 0;
    font-size: 1.4rem;
}

.form-covid>i {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 1.8rem;
    color: var(--bs-dark);
    cursor: pointer;
}

.form-covid .loading {
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 4px;
    background-color: #cccccc42;
}

.form-covid h2 {
    text-align: center;
    padding-bottom: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-covid form {
    display: flex;
    justify-content: center;
}

.form-covid .form {
    background-color: #f2f2f2;
    border-radius: 24px;
}

.form-covid .form button i {
    font-size: 1.5rem;
}

.form-covid .form button,
.form-covid .form input {
    outline: none;
    border: none;
    padding: 12px 16px;
    background: none;
}

.form-covid .change-vr {
    color: #40ff00;
    margin-left: 6px;
    font-size: 1.8rem;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay.active {
    display: block;
}

.navigation-mb ul li a {
    display: inline-block;
    padding: 16px 50px;
    color: #f2f2f2;
    font-size: 1.5rem;
}

.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 8px;
    border: 1px solid var(--bs-dark);
    border-radius: 4px;
    background: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--bs-dark);
}

.slider img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.title h1 {
    position: relative;
    text-align: center;
    padding: 12px 0 20px 0;
    font-size: 3.8rem;
}

.title h1 .rotate {
    position: relative;
    top: 6px;
    animation: rotate infinite 10s linear;
    color: #44cc00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.information-text .information-text-left {
    margin-top: 40px;
}

.information-text .information-text-left h2 {
    position: relative;
    text-align: center;
    padding: 8px 0;
    margin: 0 50px 8px 50px;
    cursor: pointer;
    transition: .3s linear;
}

.information-text .information-text-left h2:hover,
.information-text .information-text-left h2.active {
    border-right: 4px solid#4ce600;
    border-radius: 4px;
    background-color: rgba(217, 217, 217, 0.623);
}

.information-text .information-text-right {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 8px 12px;
}

.information-text .information-text-right .item-text {
    opacity: 0;
    display: none;
    animation: opacity .5s linear;
}

.information-text .information-text-right .item-text.active {
    display: block;
    opacity: 1;
}

.information-text .information-text-right .item-text i {
    padding-right: 12px;
}

.information-text .information-text-right .item-text .list-df {
    padding-bottom: 8px;
}

.information-text .information-text-right .item-text .list-df p {
    font-size: 1.5rem;
}

.thumb-vc {
    padding-top: 100px;
}

.thumb-vc .cl-df {
    background-color: var(--bs-dark);
    color: #d9d9d9;
}

.thumb-vc .item-l .change {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s linear;
}

.thumb-vc .item-l .change .hightligh-text {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    padding: 16px;
    background-color: #d9d9d975;
    color: var(--bs-dark);
    border-radius: 16px;
    transition: .3s ease;
    text-align: justify;
}

.thumb-vc .item-l .first-img {
    position: relative;
    width: 450px;
    margin: 0 auto;
}

.thumb-vc .item-l .first-img img {
    width: 100%;
    height: auto;
}

.thumb-vc .item-l .first-img:hover .change {
    visibility: visible;
    opacity: 1;
    filter: brightness(90%);
}

.thumb-vc .item-l .first-img:hover .change .hightligh-text {
    top: 50%;
    transform: translateY(-50%);
}

.thumb-vc .item-r {
    padding-top: 30px;
}

.consequence-sc {
    margin-top: 50px;
    text-align: center;
    background-color: var(--bs-dark);
    color: var(--bs-white);
    padding-bottom: 80px;
}

.consequence-sc .text-hl {
    font-size: 1.25rem;
    font-style: italic;
    letter-spacing: 1px;
    opacity: .7;
    padding-bottom: 30px;
}

.consequence-sc .consequence-image {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.consequence-sc .consequence-image img {
    width: 100%;
    height: auto;
    transition: .3s linear;
}

.consequence-sc .consequence-image .attribute-img {
    position: absolute;
    left: 20px;
    right: 20px;
    border-radius: 8px;
    padding: 12px;
    background-color: #26262693;
    color: var(--bs-white);
    top: 50%;
    text-align: justify;
    opacity: .4;
    transition: .3s linear;
}

.consequence-sc .consequence-image:hover .attribute-img {
    top: 30%;
    opacity: 1;
}

.consequence-sc .consequence-image:hover img {
    filter: brightness(50%);
}

.action-end>.container>.title {
    background-color: #e6e6e6;
    border-radius: 4px;
}

.action-end .action-list .title h1 {
    font-size: 3.2rem;
}

.action-end .title p {
    font-size: 1.4rem;
    font-style: italic;
    opacity: .7;
    text-align: center;
    padding-bottom: 30px;
}

.action-end img {
    width: 100%;
    height: auto;
}

.action-end .action-list {
    padding-bottom: 50px;
}

.action-list .change-w {
    width: 450px;
    margin: auto;
}

.action-list .excercise-text-item {
    padding: 24px 0;
}

.action-list .excercise-text-item p {
    font-size: 1.5rem;
}

.action-list .excercise-text-item ul li {
    padding: 6px 0;
}

.action-list .excercise-text-item ul li i {
    padding-right: 16px;
}

.action-list .center-t {
    display: flex;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    background-color: #E56234;
    color: #e6e6e6;
}

.overview-covid,
.consequence-sc,
.action-end {
    padding-top: 50px;
}

.footer {
    position: relative;
    background-image: linear-gradient(360deg, #2193b0, #6dd5ed);
    padding: 30px 0;
}

.viruss-1,
.viruss-2,
.viruss-3,
.viruss-4 {
    position: absolute;
    color: #006080;
    animation: rotate infinite 15s linear;
}

.viruss-1 {
    position: absolute;
    bottom: 5%;
    left: 30px;
    font-size: 3rem;
}

.viruss-2 {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 1.5rem;
}

.viruss-3 {
    position: absolute;
    bottom: 12px;
    right: 80px;
    font-size: 3.2rem;
}

.viruss-4 {
    position: absolute;
    font-size: 1.25rem;
    top: 12px;
    left: 30px;
}

.footer .col-md-6 {
    padding-left: 80px;
}

.footer .head {
    position: relative;
}

.footer .head::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 180px;
    height: 2px;
    background-color: var(--bs-dark);
}

.footer a {
    color: black;
}

.footer .about-us i {
    padding-right: 12px;
}

.footer .about-us a:hover {
    color: #e6e6e6;
}

.footer .flow-us a {
    display: inline-block;
    margin: 12px 4px 0 4px;
    padding: 12px 15px;
    border-radius: 100%;
    background-color: #4da6ff;
}

.footer .flow-us a i {
    display: inline-block;
    width: 18px;
    text-align: center;
    color: var(--bs-white);
}

.footer .ft-bottom p {
    text-align: center;
    color: var(--bs-white);
    letter-spacing: 4px;
    margin: 0;
}

.footer .ft-bottom img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

@media screen and (max-width:1200px) {
    .navigation-pc .nav-item a {
        padding: 0 42px;
    }
    .consequence-sc .consequence-image .attribute-img {
        top: 35%;
    }
    .consequence-sc .consequence-image:hover .attribute-img {
        top: 15%;
    }
}

@media screen and (max-width:992px) {
    .overview-covid,
    .consequence-sc,
    .action-end {
        padding-top: 90px;
    }
    .header .h-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: var(--bs-white);
        box-shadow: 0px 6px 7px 0px rgba(112, 103, 103, 0.75);
        -webkit-box-shadow: 0px 6px 7px 0px rgba(112, 103, 103, 0.75);
        -moz-box-shadow: 0px 6px 7px 0px rgba(112, 103, 103, 0.75);
    }
    .header-item .link {
        display: none;
    }
    .header .header-item .icon-bars {
        display: block;
        text-align: center;
        margin-top: 16px;
        cursor: pointer;
    }
    .header .header-item .icon-bars i {
        font-size: 1.65rem;
    }
    .header .header-item .icon-bars p {
        font-size: 1rem;
        margin: 0;
    }
    .navigation-pc {
        display: none;
    }
    .action-list .change-w,
    .thumb-vc .item-l .first-img {
        width: 100%;
    }
    .thumb-vc .item-l {
        padding-bottom: 50px;
    }
    .slider img {
        height: 500px;
    }
    .consequence-sc .consequence-image {
        padding-bottom: 50px;
    }
    .consequence-sc .consequence-image .attribute-img {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }
    .consequence-sc .consequence-image:hover .attribute-img {
        top: 50%;
    }
    .consequence-sc .consequence-image:hover img {
        filter: brightness(100%);
    }
    .action-list .item-img {
        padding-bottom: 30px;
    }
    .search-location {
        flex-direction: column !important;
    }
}

@media screen and (max-width:768px) {
    .footer .col-md-6 {
        padding-bottom: 40px;
        padding-left: 12px;
    }
    .search-location .description {
        display: none;
    }
    .search-location i {
        margin-right: 0 !important;
    }
    .information-text-left {
        margin: 0 !important;
    }
}

@media screen and (max-width:500px) {
    .change-mdd-right {
        flex-direction: column;
    }
    .search-location {
        margin-bottom: 8px;
    }
    .darkmode-btn .label {
        margin-left: 0;
    }
    .slider img {
        height: 350px;
    }
    .form-covid {
        width: 100%;
    }
    .footer {
        padding: 30px 0 80px 0;
    }
    .viruss-1 {
        bottom: 0;
    }
    .viruss-3 {
        right: 16px;
        bottom: 40%;
    }
}